body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #80cbc4;
    color: #333;
}

form {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"], select, input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

.file-input-container {
    display: flex;
    align-items: center;
}

    .file-input-container input[type="file"] {
        width: auto;
        margin-right: 10px;
    }

    .file-input-container button {
        background-color: #e74c3c;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }

        .file-input-container button:hover {
            background-color: #c0392b;
        }

#image-preview {
    max-width: 200px;
    max-height: 200px;
    margin: 10px 0;
    display: none;
}

.answers-container {
    margin-bottom: 20px;
}

.Answer {
    margin-bottom: 15px;
}

    .Answer input[type="text"], .marks-input {
        width: 70%;
    }

.marks-input {
    display: none;
    width: 20%;
    margin-left: 10px;
}

.marks-label {
    display: inline;
}

#total-marks-container {
    margin-top: 20px;
    font-weight: bold;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

    button[type="submit"]:hover {
        background-color: #2980b9;
    }

.text-danger {
    color: red;
}
